<p-sidebar [(visible)]="isSidePanelVisible" position="right">
  <app-admin-side-panel [mainComponent]="this"></app-admin-side-panel>
</p-sidebar>

<button type="text" (click)="isSidePanelVisible = true" pButton icon="pi pi-plus" label="Show"></button>

<button type="text" (click)="onChangeContext($event)" pButton icon="pi pi-plus" label="Set Admin Context"></button>

<div appDraggableTarget (dropped)="onDrop($event)" context="componentRegistryConfiguration" id="container">
  <ng-template #container></ng-template>
</div>

